@using System.Security.Claims;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <title>@ViewBag.Title - Portal De Mascotas </title>
     
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/Assets/plugins/fontawesome-free/css/all.min.css" />
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/Assets/plugins/daterangepicker/daterangepicker.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css")">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/Assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Assets/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/Assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css"> 
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/Assets/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="~/Assets/plugins/toastr/toastr.min.css"> 
    <!-- Ekko Lightbox -->
    <link rel="stylesheet" href="~/Assets/plugins/ekko-lightbox/ekko-lightbox.css"> 
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- BS Stepper -->
    <link rel="stylesheet" href="~/Assets/plugins/bs-stepper/css/bs-stepper.min.css">
    <!-- dropzonejs -->
    <link rel="stylesheet" href="~/Assets/plugins/dropzone/min/dropzone.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/dist/css/adminlte.min.css" />

</head>
<body class="hold-transition sidebar-collapse layout-top-nav">

    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
            <div class="container">
                <a href="@Url.Action("Index", "Inicio")" class="navbar-brand">
                    <img src="~/Assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span class="brand-text font-weight-light">Portal Mascotas</span>
                </a>

                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <!-- Left navbar links -->
                    <ul class="navbar-nav">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                            </li>

                        }


                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Inicio")" class="nav-link">Inicio</a>
                        </li>

                        @*<li class="nav-item">
                            <a href="#" class="nav-link">Contacto</a>
                        </li>*@

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Buscador de Mascotas</a>
                                <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">


                                    <li>
                                        <a href="@Url.Action("ListarMascotasPerdidas", "Mascota")" class="dropdown-item">Ver Mascotas Perdidas </a>
                                    </li>

                                    <li>
                                        <a href="@Url.Action("ListarMascotasEncontradas", "Mascota")" class="dropdown-item">Ver Mascotas Encontradas </a>
                                    </li>

                                    <li>
                                        <a href="@Url.Action("ListarMascota", "Mascota")" class="dropdown-item">Ver mis Mascotas </a>
                                    </li>

                                    <li class="dropdown-divider"></li>

                                    <!-- Level two dropdown-->
                                    <li class="dropdown-submenu dropdown-hover">
                                        <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">Usuario</a>
                                        <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                                            <li class="nav-item">
                                                <a href="@Url.Action("CambiarContrasenia", "Login")" class="dropdown-item">Cambiar Contraseña</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="@Url.Action("CambiarDatos", "Login")" class="dropdown-item">Cambiar Datos</a>
                                            </li>

                                        </ul>
                                    </li>
                                    <!-- End Level two -->

                                    <li class="dropdown-divider"></li>


                                    <li>
                                        <a href="@Url.Action("ReportesMascotas", "Reporte")" class="dropdown-item">Reportes Mascotas </a>
                                    </li>

                                </ul>
                            </li>
                        }

                    </ul>

                </div>

                <!-- Right navbar links -->
                <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">

                    @if (!User.Identity.IsAuthenticated)
                    {

                        <li class="nav-item dropdown">
                            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Registrarte</a>
                            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">

                                <li class="dropdown-item">
                                    <a href="@Url.Action("RegistroDeUsuarioMascota", "Login")" class="nav-link">Registra tu Mascota </a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="@Url.Action("Login", "Account")" class="nav-link">Iniciar Sesión </a>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <!-- User Account Menu -->
                        { Html.RenderPartial("_LayoutMenuUserAccount"); }
                    }

                </ul>


            </div>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="@Url.Action("Index", "Inicio")" class="brand-link">
                <img src="~/Assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Portal Mascotas</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        @{if (User.Identity.IsAuthenticated)
                            {
                                var IdGenero = ((ClaimsIdentity)User.Identity).Claims.Where(x => x.Type == "IdGenero").FirstOrDefault().Value;
                                if (IdGenero == "1")
                                {
                                    <img src="~/Assets/dist/img/avatar5.png" class="img-circle elevation-2" alt="User Image">
                                }
                                else
                                {
                                    <img src="~/Assets/dist/img/avatar2.png" class="img-circle elevation-2" alt="User Image">
                                }
                            }

                        }
                    </div>
                    <div class="info">
                        <a href="#" class="d-block"> @User.Identity.Name.ToUpper() - Pet Lover</a>
                    </div>
                </div>


                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->

                        <li class="nav-item">
                            <a href="@Url.Action("CambiarContrasenia", "Login")" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Cambiar Contraseña
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("CambiarDatos", "Login")" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Cambiar Datos
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="@Url.Action("ListarMascotasPerdidas", "Mascota")" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Ver Mascotas Perdidas
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="@Url.Action("ListarMascotasEncontradas", "Mascota")" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Ver Mascotas Encontradas
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="@Url.Action("ListarMascota", "Mascota")" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Ver mis Mascotas
                                </p>
                            </a>
                        </li>


                        <li class="nav-item">
                            <a href="@Url.Action("ReportesMascotas", "Reporte")" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Reportes Mascotas
                                </p>
                            </a>
                        </li>




                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->


        <hr />
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Portal para encontra a tus mascotas perdidas
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; @DateTime.Now.Year - Portal de Mascotas.</strong> All rights reserved.
        </footer>

    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Assets/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap 4 -->
    <script src="~/Assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="@Url.Content("~/Assets/plugins/jquery-validation/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Assets/plugins/jquery-validation/additional-methods.min.js")"></script>

    <!-- InputMask -->
    <script src="~/Assets/plugins/moment/moment.min.js"></script>
    <script src="~/Assets/plugins/moment/locale/es.js"></script>
    <script src="~/Assets/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/Assets/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/Assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/Assets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Bootstrap Switch -->
    <script src="~/Assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- Select2 -->
    <script src="~/Assets/plugins/select2/js/select2.full.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="~/Assets/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="~/Assets/plugins/toastr/toastr.min.js"></script>
    <!-- Ekko Lightbox -->
    <script src="~/Assets/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>
    <!-- Filterizr-->
    <script src="~/Assets/plugins/filterizr/jquery.filterizr.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Assets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <!-- BS-Stepper -->
    <script src="~/Assets/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <!-- dropzonejs -->
    <script src="~/Assets/plugins/dropzone/min/dropzone.min.js"></script>
    <!-- ChartJS -->
    <script src="~/Assets/plugins/chart.js/Chart.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Assets/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Assets/dist/js/demo.js"></script>

    <script type="text/javascript">
        var baseSiteUrl = '@Url.Content("~/")';
        $(function () {
            $('body').on('hidden.bs.modal', function () {
                if ($('.modal.show').length > 0) {
                    $('body').addClass('modal-open');
                }
            });
            $.validator.messages.email = "Por favor, introduce una dirección de correo electrónico válida.";

        });

        // BS-Stepper Init
        document.addEventListener('DOMContentLoaded', function () {
            window.stepper = new Stepper(document.querySelector('.bs-stepper'))
        })

    </script>
    @*<script src="~/Content/js/app.js"></script>*@

    @RenderSection("scripts", required: false)




</body>
</html>
