
@{
    Layout = "~/Views/Shared/_LayoutMinimal.cshtml";
    ViewBag.Title = "Login";
    var errorSummary = ViewData.ModelState.Values.SelectMany(m => m.Errors);

}


@model RegistroDeMascotas.web.Models.LoginViewModel 
<div class="row">
    <div class="col-md-offset-4 col-sm-offset-4 col-sm-4 col-xs-12 bsp-box-login">
        @if (errorSummary.Any())
        {
            <br />
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <ul>
                    @foreach (var item in errorSummary)
                    {
                        <li>@item.ErrorMessage</li>
                    }
                </ul>
            </div>
        }
        @using (Html.BeginForm("Login", "Account", new { returnURl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form", role = "role" }))
        {
            @Html.AntiForgeryToken()
            <h3>Iniciar sesi&oacute;n</h3>
            <hr />

            <div class="form-group">
                @Html.LabelFor(m => m.UserName)
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Número de Documento" , maxlength = "15" })
                </div>
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Contraseña" , maxlength = "5" } )
                </div>
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Ingresar" class="btn btn-danger" style="width:100%;" />
            </div>
        }
    </div>
</div>